<!DOCTYPE html>
<html>
  <head>
    <title>Sourceloader File Upload App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
  </head>

  <body>
    <div class="header">
        <h2> Sourceloader File Upload App </h2>
    </div>
    <%= yield %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
